<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Список книг</title>
</head>
<body>
В магазине имеются следующие книги:
<table>
    <tr>
        <th>Номер</th>
        <th>Автор</th>
        <th>Название</th>
        <th>Год</th>
        <th>Цена</th>
    </tr>
    <tr th:each="book,stat : ${books}">
        <td th:text="${stat.index+1}"/>
        <td th:utext="${book.getAuthor().getName()}"/>
        <td th:utext="${book.getTitle()}"/>
        <td th:utext="${book.getYear()}"/>
        <td th:utext="${book.getPrice()}"/>
    </tr>
</table>
</body>
</html>